/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/**********************************/
/*Blog post section css code start*/
/**********************************/
.blog-post-comment-section-inner img{
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 4px;
    background: #08c;
}
.blog-post-comment-section-inner{
    width: 100%;
}
.comment-divider{
    width: 100%;
    height: 1px;
    background: gray;
    margin-top: 45px;
    margin-bottom: 15px;
}
.blog-post-comment-section-inner2{
    margin-top: -80px;
    margin-left: 110px;
}
.blog-post-comment-section-inner2 h5{
    font-size: 16px;
    margin-bottom: 3px;
}
.blog-post-comment-section-inner2 h6{
    font-size: 13px;
    font-weight: 400;
}
.blog-post-comment-section-inner2 p{
    font-size: 14px;
    text-align: justify;
}
.blog-post-comment-section-inner2 a{
    float: right;
    font-size: 13px;
    color: #F0BB4C;
}
.blog-post-comment-section h4{
    width: 100%;
    font-size: 22px;
}
.form-control41{
    width: 99%;
    padding: 10px;
    border: 1px solid gray;
    height: 140px;
}
.form-control31{
    width: 49%;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid gray;
    margin: 8px 0px 30px 0px;
}
.btn-message{
    background: #F0BB4C;
    padding: 4px 20px;
    border: 1px solid #F0BB4C;
    color: #fff;
}
.btn-message:hover{
    background: #fff;
    color: #F0BB4C;
}
.blog-social-section{
    width: 100%;
    margin-top: 40px;
}
.blog-social-section h4{
    width: 100%;
    font-size: 22px;
}
.blog-social-inner ul{
    list-style: none;
    padding: 0px;
}
.blog-social-inner ul li{
    margin-bottom: 20px;
}
.blog-social-inner ul li a{
    font-size: 16px;
    font-weight: 600;
}
.blog-social-inner ul li a .fa-facebook{
    width: 40px;
    height: 40px;
    border: 1px solid #4267B2;
    border-radius: 50%;
    text-align: center;
    font-size: 26px;
    padding: 7px;
    margin-right: 11px;
    color: #fff;
    background: #4267B2;
}
.blog-social-inner ul li a .fa-twitter{
    width: 40px;
    height: 40px;
    border: 1px solid #1DA1F2;
    border-radius: 50%;
    text-align: center;
    font-size: 26px;
    padding: 7px;
    margin-right: 11px;
    color: #fff;
    background: #1DA1F2;
}
.blog-social-inner ul li a .fa-instagram{
    width: 40px;
    height: 40px;
    border: 1px solid #405DE6;
    border-radius: 50%;
    text-align: center;
    font-size: 26px;
    padding: 7px;
    margin-right: 11px;
    color: #fff;
    background: #405DE6;
}
.blog-social-inner ul li a .fa-youtube-play{
    width: 40px;
    height: 40px;
    border: 1px solid #FF0000;
    border-radius: 50%;
    text-align: center;
    font-size: 26px;
    padding: 7px;
    margin-right: 11px;
    color: #fff;
    background: #FF0000;
}
/**********************************/
/*Blog post section css code end*/
/**********************************/